ConfigForge/ConfigForge_SUB_Add_Domain_To_SparkPost.json
{
  "createdAt": "2025-08-15T00:46:43.953Z",
  "updatedAt": "2025-08-31T15:15:41.590Z",
  "id": "yvORklLIrvem0I6I",
  "name": "ConfigForge - SUB Add Domain To SparkPost",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb639414-ec58-4b42-93b0-acbdc807a6e2",
              "leftValue": "={{ $json.body.results.message }}",
              "rightValue": "Successfully",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -416
      ],
      "id": "eea84866-8803-41e0-b647-b14808840088",
      "name": "If Main Created"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sparkpost.com/api/v1/sending-domains",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"domain\": \"{{ $('Start').item.json.domain_name }}\",\n  \"generate_dkim\": true,\n  \"dkim_key_length\": 2048\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -416
      ],
      "id": "25e9f76c-d055-4106-93cc-68562f245a51",
      "name": "Create Domain On SparkPost",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sFJlOVOp0ZOb2dzc",
          "name": "SparkPost Header Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sparkpost.com/api/v1/sending-domains",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"domain\": \"bounce.{{ $('Start').item.json.domain_name }}\",\n  \"generate_dkim\": true,\n  \"dkim_key_length\": 2048,\n  \"shared_with_subaccounts\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -432
      ],
      "id": "68fbd38f-7809-467d-9566-9e263d8cf0b1",
      "name": "Create Bounce Domain On SparkPost",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sFJlOVOp0ZOb2dzc",
          "name": "SparkPost Header Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"domain_name\": \"a string\"\n}"
      },
      "id": "73a39292-3f2d-46f4-9a1f-8c069c782100",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -592,
        -416
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sTRR5kBFXbaBRxPTjdUHtla1HDtRI9ebpdtfmv-eORI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pool A",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sTRR5kBFXbaBRxPTjdUHtla1HDtRI9ebpdtfmv-eORI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "domain_name": "={{ $('Create Domain On SparkPost').item.json.body.results.domain }}",
            "sparkpost_dkim_hostname": "={{ $('Create Domain On SparkPost').item.json.body.results.dkim.selector }}",
            "sparkpost_dkim_value": "={{ $('Create Domain On SparkPost').item.json.body.results.dkim.public }}",
            "sparkpost_bounce_hostname": "={{ $json.results.dkim.selector }}",
            "sparkpost_bounce_dkim_value": "={{ $json.results.dkim.public }}",
            "sparkpost_account": "jose@dimensionsevensystems.com"
          },
          "matchingColumns": [
            "domain_name"
          ],
          "schema": [
            {
              "id": "domain_name",
              "displayName": "domain_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "domain_created",
              "displayName": "domain_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "domain_expires",
              "displayName": "domain_expires",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "registrar",
              "displayName": "registrar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "migadu_verification_record",
              "displayName": "migadu_verification_record",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sparkpost_account",
              "displayName": "sparkpost_account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sparkpost_dkim_hostname",
              "displayName": "sparkpost_dkim_hostname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sparkpost_dkim_value",
              "displayName": "sparkpost_dkim_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sparkpost_bounce_hostname",
              "displayName": "sparkpost_bounce_hostname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sparkpost_bounce_dkim_value",
              "displayName": "sparkpost_bounce_dkim_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dns_records_created",
              "displayName": "dns_records_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        -480
      ],
      "id": "1a6842d5-0145-4639-a14e-946c992a35a0",
      "name": "Update Domain",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lN2tnTCBuaO6F6Rx",
          "name": "jmadarieta3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        768,
        -160
      ],
      "id": "af7a87b1-709d-4681-98e9-5b1546eca360",
      "name": "TODO: Error Handling"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb639414-ec58-4b42-93b0-acbdc807a6e2",
              "leftValue": "={{ $json.results.message }}",
              "rightValue": "Successfully",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        -432
      ],
      "id": "6aa4930f-9330-48b8-8a0f-60260acafbad",
      "name": "If Main Created1"
    }
  ],
  "connections": {
    "If Main Created": {
      "main": [
        [
          {
            "node": "Create Bounce Domain On SparkPost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TODO: Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Domain On SparkPost": {
      "main": [
        [
          {
            "node": "If Main Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Create Domain On SparkPost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bounce Domain On SparkPost": {
      "main": [
        [
          {
            "node": "If Main Created1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Main Created1": {
      "main": [
        [
          {
            "node": "Update Domain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TODO: Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "domain_name": "dimensionseven.systems"
        }
      }
    ]
  },
  "versionId": "8cd65949-bbfb-4514-8aba-37e20cd91048",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-15T00:46:43.953Z",
      "updatedAt": "2025-08-15T00:46:43.953Z",
      "role": "workflow:owner",
      "workflowId": "yvORklLIrvem0I6I",
      "projectId": "DkSa9uSCCmIe86kA",
      "project": {
        "createdAt": "2024-10-23T19:43:31.607Z",
        "updatedAt": "2024-10-23T19:44:45.428Z",
        "id": "DkSa9uSCCmIe86kA",
        "name": "Jose Madarieta <jmadarieta3@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-10-23T19:43:31.607Z",
            "updatedAt": "2024-10-23T19:43:31.607Z",
            "userId": "a635a4d8-fd37-4680-89ca-863732d6171c",
            "projectId": "DkSa9uSCCmIe86kA",
            "user": {
              "createdAt": "2024-10-23T19:43:29.785Z",
              "updatedAt": "2025-11-12T16:42:51.583Z",
              "id": "a635a4d8-fd37-4680-89ca-863732d6171c",
              "email": "jmadarieta3@gmail.com",
              "firstName": "Jose",
              "lastName": "Madarieta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2024-10-23T19:45:00.140Z",
                "personalization_survey_n8n_version": "1.63.4"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "wKa0XTH9lBKlDoXE",
                "userActivatedAt": 1729714072281,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1762955552971
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2025-08-12T18:52:20.171Z",
      "updatedAt": "2025-08-12T18:52:20.171Z",
      "id": "4NHKQF8343a6vSX3",
      "name": "SPARKPOST"
    }
  ]
}