ConfigForge/ConfigForge_SUB_Verify_Domains_On_SparkPost.json
{
  "createdAt": "2025-08-16T17:09:33.402Z",
  "updatedAt": "2025-08-31T15:14:59.181Z",
  "id": "xXPSaM4yEzaeJmqa",
  "name": "ConfigForge - SUB Verify Domains On SparkPost",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.sparkpost.com/api/v1/sending-domains/{{ $json.domain_name }}/verify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"dkim_verify\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        -720
      ],
      "id": "43781fbe-e5b0-41b4-9386-a3cca938a906",
      "name": "Verify Domain",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sFJlOVOp0ZOb2dzc",
          "name": "SparkPost Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.sparkpost.com/api/v1/sending-domains/bounce.{{ $('Start').item.json.domain_name }}/verify",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"cname_verify\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        -816
      ],
      "id": "186778ac-3418-4e49-a277-9514a84c32d7",
      "name": "Verify Bounce Domain",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sFJlOVOp0ZOb2dzc",
          "name": "SparkPost Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "03b3f266-da2b-46ba-bc80-7c36a74e9ead",
              "leftValue": "={{ $json.results.dkim_status }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        -720
      ],
      "id": "df77d994-c717-4c5a-8199-d4faa066f638",
      "name": "If Main Domain is Valid"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1712,
        -704
      ],
      "id": "0ca79c8a-d068-4bfd-a9ef-47632198e521",
      "name": "TODO: Add Error Notification"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "112e74fd-b8b4-46ed-9da7-3ea67af09f04",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        768,
        -720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "03b3f266-da2b-46ba-bc80-7c36a74e9ead",
              "leftValue": "={{ $json.results.cname_status }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        -816
      ],
      "id": "6f7595f5-684a-4d94-bdde-13d2b6cd41e6",
      "name": "If Bounce Domain is Valid"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1sTRR5kBFXbaBRxPTjdUHtla1HDtRI9ebpdtfmv-eORI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pool A",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sTRR5kBFXbaBRxPTjdUHtla1HDtRI9ebpdtfmv-eORI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "domain_name": "={{ $('Start').item.json.domain_name }}",
            "dns_records_verified": "={{ $now.format('MM/dd/yyyy') }}"
          },
          "matchingColumns": [
            "domain_name"
          ],
          "schema": [
            {
              "id": "domain_name",
              "displayName": "domain_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "domain_created",
              "displayName": "domain_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "domain_expires",
              "displayName": "domain_expires",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "registrar",
              "displayName": "registrar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "migadu_verification_record",
              "displayName": "migadu_verification_record",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sparkpost_account",
              "displayName": "sparkpost_account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sparkpost_dkim_hostname",
              "displayName": "sparkpost_dkim_hostname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sparkpost_dkim_value",
              "displayName": "sparkpost_dkim_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sparkpost_bounce_hostname",
              "displayName": "sparkpost_bounce_hostname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sparkpost_bounce_dkim_value",
              "displayName": "sparkpost_bounce_dkim_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dns_records_created",
              "displayName": "dns_records_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dns_records_verified",
              "displayName": "dns_records_verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        -912
      ],
      "id": "958d47d0-fc6c-4e16-aab8-9ca6c332e9f0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lN2tnTCBuaO6F6Rx",
          "name": "jmadarieta3"
        }
      }
    }
  ],
  "connections": {
    "Verify Domain": {
      "main": [
        [
          {
            "node": "If Main Domain is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Main Domain is Valid": {
      "main": [
        [
          {
            "node": "Verify Bounce Domain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TODO: Add Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Verify Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Bounce Domain": {
      "main": [
        [
          {
            "node": "If Bounce Domain is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Bounce Domain is Valid": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TODO: Add Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2aa2e21c-5f46-40db-9320-69fe94fe2158",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-16T17:09:33.402Z",
      "updatedAt": "2025-08-16T17:09:33.402Z",
      "role": "workflow:owner",
      "workflowId": "xXPSaM4yEzaeJmqa",
      "projectId": "DkSa9uSCCmIe86kA",
      "project": {
        "createdAt": "2024-10-23T19:43:31.607Z",
        "updatedAt": "2024-10-23T19:44:45.428Z",
        "id": "DkSa9uSCCmIe86kA",
        "name": "Jose Madarieta <jmadarieta3@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-10-23T19:43:31.607Z",
            "updatedAt": "2024-10-23T19:43:31.607Z",
            "userId": "a635a4d8-fd37-4680-89ca-863732d6171c",
            "projectId": "DkSa9uSCCmIe86kA",
            "user": {
              "createdAt": "2024-10-23T19:43:29.785Z",
              "updatedAt": "2025-11-12T16:42:51.583Z",
              "id": "a635a4d8-fd37-4680-89ca-863732d6171c",
              "email": "jmadarieta3@gmail.com",
              "firstName": "Jose",
              "lastName": "Madarieta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2024-10-23T19:45:00.140Z",
                "personalization_survey_n8n_version": "1.63.4"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "wKa0XTH9lBKlDoXE",
                "userActivatedAt": 1729714072281,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1762955552971
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}