ListForge/ListForge_Outlook_Filterer_1.json
{
  "createdAt": "2025-08-22T18:06:41.889Z",
  "updatedAt": "2025-08-31T15:09:26.259Z",
  "id": "CpyS1FkmQsa7QaoQ",
  "name": "ListForge - Outlook Filterer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -544
      ],
      "id": "9185b32f-9ec7-4fe4-b7d0-3f79f5b309e8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        -176
      ],
      "id": "1ffaab62-17b6-4930-9f65-f30a5939fb6f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1696,
        -176
      ],
      "id": "26615048-f71e-48c7-977a-f0c4beac4acc"
    },
    {
      "parameters": {
        "url": "=https://dns.google/resolve?name={{ $json.organization_primary_domain }}&type=MX",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -320
      ],
      "id": "b42c8eb5-5296-4c99-ab4c-15ec0e7651f0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "id": "82c38cc1-0c60-4d4c-bc2b-bc3f2b828f65",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=  {\n    \"email\": \"{{ $json.email }}\",\n    \"organization_name\": \"{{ $json.organization_name }}\",    \n    \"organization_primary_domain\": \"{{ $json.organization_primary_domain }}\"\n  }\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -224
      ],
      "id": "588f791d-972c-4435-8eb5-17ea4bbd1d44",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DDp8LRRv9ev6RHyVXmqshb48g0zp_pmUF3QwrLCTZDg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 335276882,
          "mode": "list",
          "cachedResultName": "IsNOTOutlook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DDp8LRRv9ev6RHyVXmqshb48g0zp_pmUF3QwrLCTZDg/edit#gid=335276882"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Loop Over Items').item.json.email }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        -320
      ],
      "id": "1721668a-5cd9-4e30-a95b-0795230c59ee",
      "name": "Add To IsNOTOutlook Tab",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lN2tnTCBuaO6F6Rx",
          "name": "jmadarieta3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb4c4556-bc3e-48b0-97cf-23e7bc8984fb",
              "leftValue": "={{ $json.Answer[0].data }}",
              "rightValue": "outlook",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "531805f6-f1ec-4e45-abc0-b6f797b22588",
              "leftValue": "={{ $json.Answer[0].data }}",
              "rightValue": "office365",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        -176
      ],
      "id": "fee921c8-89fd-48d7-a16a-bd02410aad22",
      "name": "If Outlook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb4c4556-bc3e-48b0-97cf-23e7bc8984fb",
              "leftValue": "={{ $json.Answer[0].data }}",
              "rightValue": "office365",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        -256
      ],
      "id": "d6cf9483-be4b-4ce1-9e77-b1fe20f91b46",
      "name": "If Office365"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1920,
        -32
      ],
      "id": "93de6572-84e0-4118-98ac-ec09b01e3e31",
      "name": "Wait",
      "webhookId": "9f7c2648-4be2-4716-994b-3bd6bfd46e08"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -752,
        -112
      ],
      "id": "79440bf5-5f6e-497f-99ff-e06678d99aa8",
      "name": "Every Hour",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tk3ZqoorN3NNyM--_oui7P_3CNWpdvaaVK6LYqI8D9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1874546684,
          "mode": "list",
          "cachedResultName": "Counter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tk3ZqoorN3NNyM--_oui7P_3CNWpdvaaVK6LYqI8D9o/edit#gid=1874546684"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "todo"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -320
      ],
      "id": "898b4834-2685-47a4-b096-4f9f080d13c3",
      "name": "Get Part",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lN2tnTCBuaO6F6Rx",
          "name": "jmadarieta3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tk3ZqoorN3NNyM--_oui7P_3CNWpdvaaVK6LYqI8D9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Part }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        -320
      ],
      "id": "0eab8126-598b-4992-9937-d1062e309419",
      "name": "Get Rows In Part",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lN2tnTCBuaO6F6Rx",
          "name": "jmadarieta3"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Part",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add To IsNOTOutlook Tab": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Outlook": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Office365",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Office365": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add To IsNOTOutlook Tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get Part",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Part": {
      "main": [
        [
          {
            "node": "Get Rows In Part",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows In Part": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every Hour": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "23018c17-ef64-43de-a289-17a9a4a0c451",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-22T18:06:41.889Z",
      "updatedAt": "2025-08-22T18:06:41.889Z",
      "role": "workflow:owner",
      "workflowId": "CpyS1FkmQsa7QaoQ",
      "projectId": "DkSa9uSCCmIe86kA",
      "project": {
        "createdAt": "2024-10-23T19:43:31.607Z",
        "updatedAt": "2024-10-23T19:44:45.428Z",
        "id": "DkSa9uSCCmIe86kA",
        "name": "Jose Madarieta <jmadarieta3@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-10-23T19:43:31.607Z",
            "updatedAt": "2024-10-23T19:43:31.607Z",
            "userId": "a635a4d8-fd37-4680-89ca-863732d6171c",
            "projectId": "DkSa9uSCCmIe86kA",
            "user": {
              "createdAt": "2024-10-23T19:43:29.785Z",
              "updatedAt": "2025-11-12T16:42:51.583Z",
              "id": "a635a4d8-fd37-4680-89ca-863732d6171c",
              "email": "jmadarieta3@gmail.com",
              "firstName": "Jose",
              "lastName": "Madarieta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2024-10-23T19:45:00.140Z",
                "personalization_survey_n8n_version": "1.63.4"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "wKa0XTH9lBKlDoXE",
                "userActivatedAt": 1729714072281,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1762955552971
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2024-12-03T18:52:19.410Z",
      "updatedAt": "2024-12-03T18:52:19.410Z",
      "id": "p5nPhLU2bsf1ZFMo",
      "name": "EMail"
    },
    {
      "createdAt": "2025-08-23T19:56:39.203Z",
      "updatedAt": "2025-08-23T19:56:39.203Z",
      "id": "I1DqLhSxmYkaBQmu",
      "name": "OutLook"
    }
  ]
}