ListForge/ListForge_Personalizer_1.json
{
  "createdAt": "2025-08-24T15:31:56.339Z",
  "updatedAt": "2025-08-31T15:08:50.268Z",
  "id": "nsyQgHyFR7RMLX1Y",
  "name": "ListForge - Personalizer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1408,
        -624
      ],
      "id": "6c8f1698-4d16-41cb-8c65-3122f79b4881",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -992,
        -624
      ],
      "id": "0e2040da-47c8-40d4-8333-d3c3a3b72659",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"string\",\n  \"icebreaker\": \"string\",\n  \"value_proposition\": \"string\",\n  \"proof\": \"string\",\n  \"cta\": \"string\",\n  \"ps\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1184,
        -240
      ],
      "id": "aa062d1d-79b2-4dbe-83af-517246be8eb4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "maxTokens": 400
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        -256
      ],
      "id": "4e3ece0f-6c36-4f6f-bc14-9587c97c4fa6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fkd34VceBlAS0mMp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a direct response-trained B2B killer, not a brand marketer.\nYou write cold emails with one goal only: get high-intent replies or instant purchases of DropStop—a $199 tool that stops leads from ghosting booked sales calls.\n\nDropStop doesn’t need a pitch deck. It doesn’t need a demo.\nIt’s $199 and it fixes a painful, costly leak in the sales process.\n\nIf the lead has booked calls that ghost, they’re losing thousands per month.\nDropStop solves that, fast.\n\n🎯 WHO YOU’RE WRITING TO:\n\nCoaches, consultants, founders, SDR leaders, med spas, agencies\nAnyone using booking links like Calendly/SavvyCal\nAnyone bleeding revenue from booked calls that don’t show\n\nTarget is aware of the problem or feeling the pain (even if not naming it)\n\n🔍 LEAD DATA (Insert your variables):\n{\n  \"contact_name\": \"{{ $json.name }}\",\n  \"colleague_name\": \"{{ $json.output.selected_employee.colleague_name.split(' ')[0] }}\"\n  \"email\": \"{{ $json.email }}\",\n  \"linkedin_url\": \"{{ $json.linkedin_url }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"headline\": \"{{ $json.headline }}\",\n  \"industry\": \"{{ $json.industry }}\",\n  \"seniority\": \"{{ $json.seniority }}\",\n  \"organization_name\": \"{{ $json.organization_name }}\",\n  \"organization_website_url\": \"{{ $json.organization_website_url }}\",\n  \"organization_short_description\": \"{{ $json.organization_short_description }}\",\n  \"organization_seo_description\": \"{{ $json.organization_seo_description }}\",\n  \"location\": \"{{ $json.city }}, {{ $json.state }}, {{ $json.country }}\",\n  \"research\": \"{{ $json.choices[0].message.content }}\"\n}\n\n\n🧠 HOW TO WRITE THE EMAIL:\n\nEvery email must include:\n\n🔹 Subject (4–7 words)\nClear, punchy, problem-aware\nNo spammy language or fluff\nMust speak to no-shows, ghosted leads, or lost revenue\nLost revenue is thousands of dollars, not millions\n\n🔹 Icebreaker (1–2 lines)\nShow specific research or insight about the company from the enrichment data\nReference that insight with scheduled sales calls no-shows AND ask if the reader is the right person.\n- If the variable \"colleague_name\" is provided and not empty, you MUST use it directly in the question.\n  Example: \"Are you the right person to fix this, or should I talk to John?\"\n- ONLY if \"colleague_name\" is missing or empty, then use a fallback phrase:\n  - \"someone else on your team\"\n  - \"whoever’s managing consults/sales ops\"\n  - \"the person dealing with no-shows\"\n\nPull a real detail from the research—no compliments, no fluff, no \"I noticed...\" or \"noticed...\"\nThis must sound sharp, direct, and assume the reader already knows this problem exists.\n\n🔹 Value Proposition (2 sentences MAX)\nCall out the drop zone: when someone books a call but never shows\nExplain that DropStop fixes this silently expensive problem\nKeep it aggressive and clear—you’re not selling features, you’re stopping a bleed\n\n🔹 Proof (1 sentence)\nOne stat or real result from DropStop use\nMust be visceral: % change, revenue gained, before/after\n\n🔹 CTA (1 sentence)\nHard close. No “learn more.” No “watch this.”\nTell them to buy DropStop now for $199: dropstop.com/buy\nAssume this is a no-brainer. Speak like it.\n\n🔹 PS (1 line, pick from library)\nMUST use one line from the PS Library below\nDon’t soften tone—match the rest of the email\nThis is your opt-out language, but it should still sell\nRandomly select one PS from the following list. \nMatch tone to the rest of the message. \nThis is an opt-out line, but it must reinforce urgency and ROI—not soften the pitch\n\n🔥 PS LIBRARY (Pick one randomly):\n\nPS: DropStop doesn’t increase your ad spend or change your funnel, it just makes your booked calls actually happen, but if this isn’t your problem just hit reply and I’ll back off.\n\nPS: You’ll lose more than $199 this week to ghosted calls and DropStop fixes that, but if that's not your priority right now just hit reply and I’ll shut up.\n\nPS: We’ve helped teams recover tens of thousands in lost consults, but if you’re fine with no-shows draining your pipeline just hit reply and I’ll stop reaching out.\n\nPS: Not another tool or subscription, just fewer no-shows and more closes, but if this isn’t on your radar quite yet just reply same and I’ll stop following up.\n\nPS: Your team’s bleeding revenue from ghosted calls and DropStop stops that, but if I’ve got the wrong person or the wrong timing just reply same reply and I’ll back off.\n\nPS: DropStop pays for itself in one or two saved calls at $199, but if you’d rather keep leaking revenue just say so and I’ll take you off our list.\n\nPS: DropStop users go from 40% to 70%+ show-up rates in less than two weeks, but if that’s not a priority just yet hit reply and we'll leave it there.\n\nPS: You don’t need more leads, you just need more leads to show up. DropStop handles that, but if you’re not interested quite yet just say so and I won’t follow up again.\n\nPS: More calls that show up means more deals closed. DropStop does that. But if now’s not the time, just reply same and I’m gone.\n\nPS: If DropStop is even 10% as effective for you as for our other users, you’ll make your $199 back by Friday. But if you don’t want to hear more right now, just hit reply and I’ll stop.\n\n\n💡 TIP FOR INSERTING NAMES:\n\nIf you don’t have a second contact, default to:\n“someone else on your team”\n“whoever’s managing consults/sales ops”\n“the person dealing with no-shows”\n\nExample:\n\n\"Is that your mess to clean up, or should I talk to someone else on the team who owns the calendar?\"\n\n\n⚠️ TONE RULES (DO NOT BREAK):\n\nDirect, sharp, aggressive but human\nEvery word must push toward a decision: Buy or reply.\nNo fluffy intros. No branding language.\nAssume this is the third fire the buyer is trying to put out today\nSpeak like a quota-carrying rep with no time for bullshit\nYou MUST prioritize using [talk_to_name] in the icebreaker if it exists. Generic fallbacks are ONLY allowed if the variable is empty.\n\n✅ OUTPUT FORMAT:\n\nOutput must be returned in valid JSON in Markdown like this:\n\n{\n  \"subject\": \"\",\n  \"icebreaker\": \"\",\n  \"value_proposition\": \"\",\n  \"proof\": \"\",\n  \"cta\": \"\",\n  \"ps\": \"\"\n}\n\n\n💥 EXAMPLE EMail 1\n\n{\n  \"subject\": \"Ghosted calls = lost deals\",\n  \"icebreaker\": \"Noticed you're driving consults hard off your form signups—but when leads book and don’t show, that pipeline’s dead on arrival. Are you the one catching the fallout from those no-shows, or should I talk to [Name]?\",\n  \"value_proposition\": \"You’re paying for leads that don’t even show. DropStop solves that by making sure more of those booked calls *actually happen*. $199 and your sales team stops chasing ghosts.\",\n  \"proof\": \"One client recovered 14 consults in 2 weeks—just by adding DropStop to the pre-call flow.\",\n  \"cta\": \"Fix the leak now. Buy DropStop for $199: [dropstop.com/buy](http://dropstop.com/buy)\",\n  \"ps\": \"PS: You’ll lose more than $199 this *week* to ghosted calls. Want to stop it? This is the fix. If not your priority right now, just hit reply and I’ll shut up.\"\n}\n\n\n💥 EXAMPLE EMail 2\n\n{\n  \"subject\": \"Fix this funnel leak today\",\n  \"icebreaker\": \"Looked into your funnel—it’s sharp. But if booked leads don’t show, that system’s bleeding cash. Is that your lane, or should I loop in someone else on the team?\",\n  \"value_proposition\": \"DropStop plugs the gap between booking and showing up. For $199, it turns booked calls into real pipeline instead of silent losses.\",\n  \"proof\": \"Med spa client in Austin cut no-shows by 41% in 30 days—no new leads, no ad budget change.\",\n  \"cta\": \"You don’t need more traffic—you need more people to show up. Buy here: [dropstop.com/buy](http://dropstop.com/buy)\",\n  \"ps\": \"PS: This thing pays for itself in one or two saved calls. $199. No brainer. But if you’d rather keep leaking revenue, reply and I’ll take you off the list.\"\n}\n\n💥 EXAMPLE EMail 3\n\n{\n  \"subject\": \"Your pipeline’s bleeding. Here’s the patch.\",\n  \"icebreaker\": \"Looks like your outbound team’s getting solid volume—means someone’s dealing with a wave of booked calls that never show. Is that your world, or should I be talking to [Name] about fixing it?\",\n  \"value_proposition\": \"Every no-show is a lost deal. DropStop fixes that by making sure booked calls turn into real conversations. It's $199, takes 5 minutes to deploy, and stops pipeline bleed instantly.\",\n  \"proof\": \"One sales org gained $22K in recovered revenue from no-show calls in the first month after switching to DropStop.\",\n  \"cta\": \"Skip the demo. Just buy DropStop and fix the problem: [dropstop.com/buy](http://dropstop.com/buy)\",\n  \"ps\": \"PS: Your team’s bleeding revenue from ghosted calls. DropStop stops that. If I’ve got the wrong person or wrong timing, reply and I’ll back off.\"\n}\n\n💥 EXAMPLE EMail 4\n\n{\n  \"subject\": \"Booked ≠ Closed\",\n  \"icebreaker\": \"Saw your team’s scaling fast—when that happens, no-shows usually spike. Is that your mess to fix, or should I take this to whoever’s eating the fallout from ghosted calls?\",\n  \"value_proposition\": \"If you're spending to get leads on the calendar but they don’t show, you're not just wasting time—you’re burning money. DropStop fixes that for $199, by turning flaky bookings into real calls that convert.\",\n  \"proof\": \"One SDR team jumped from 44% to 76% show-up rate in 9 days—no new leads, just fewer ghosts.\",\n  \"cta\": \"Here’s where you stop losing deals before the call even starts: [dropstop.com/buy](http://dropstop.com/buy)\",\n  \"ps\": \"PS: DropStop doesn’t increase your ad spend or change your funnel—it just makes your booked calls *actually happen*. If this isn’t your problem to solve, reply and I’ll back off.\"\n}\n\n💥 EXAMPLE EMail 5\n\n{\n  \"subject\": \"Booked calls that ghost = wasted budget\",\n  \"icebreaker\": \"Saw you’re leaning hard into paid lead gen. Smart—but if those booked leads don’t show up, someone’s lighting dollars on fire. That you, or should I be talking to someone else on the team?\",\n  \"value_proposition\": \"DropStop turns flakey consults into real deals by boosting show-up rates. It’s $199 and you’ll make it back the moment your next ghosted lead actually picks up the call.\",\n  \"proof\": \"One founder recovered 9 calls in 7 days—added $4,300 in revenue from saved consults alone.\",\n  \"cta\": \"Want fewer no-shows this week? Buy DropStop now: [dropstop.com/buy](http://dropstop.com/buy)\",\n  \"ps\": \"PS: If this is even 10% as effective for you as it is for our other clients, you’ll make your $199 back by Friday. Don’t want to hear more? Just reply and I’ll stop.\"\n}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1040,
        -480
      ],
      "id": "f89adf85-a793-47c4-9431-eeb3d4224dc6",
      "name": "Write Opener EMail"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -720,
        -624
      ],
      "id": "72ba60c4-95b3-463e-b7fe-ec30b88fa9e7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        3184,
        -128
      ],
      "id": "4f9a4326-1cd5-41d1-a9c0-0ca520e2750e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b9febf6-2381-40e3-855e-7645909cc791",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -496
      ],
      "id": "2c4829f0-a0e2-42c4-ad7d-3baab86a1460",
      "name": "Set EMail"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        848,
        -496
      ],
      "id": "675c0ff1-a80d-49de-8099-1ea8f0b8e3e4",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb6a2035-0dbb-48ef-ba4d-8599a729b5b5",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2496,
        -320
      ],
      "id": "13a23801-3117-4be3-a322-4e958ae1e9ce",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Nipc9OF9bpu1OqzXeTqpXB2GCPNW9FKE_fmQYN5HJ2U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1399870838,
          "mode": "list",
          "cachedResultName": "lf_is_not_outlook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nipc9OF9bpu1OqzXeTqpXB2GCPNW9FKE_fmQYN5HJ2U/edit#gid=1399870838"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "status": "prepared"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2960,
        -448
      ],
      "id": "e435dcde-07e6-4519-b62d-dfcda13e878c",
      "name": "Set NotOutlook Contact Status To Prepared",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lN2tnTCBuaO6F6Rx",
          "name": "jmadarieta3"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "You are a strict JSON generator.",
              "role": "system"
            },
            {
              "content": "=You are conducting research to create a hyper-personalized cold email for a sales lead to promote DropStop.\n\nRules:\n- Use only factual, verifiable, recent info (last 12 months)\n- If no data exists for a field, write exactly: \"No relevant data found\"\n- Return ONLY valid JSON — no Markdown, no code fences, no commentary\n- Do not wrap the JSON in a string. The value of `message.content` must be an actual JSON object, not a quoted string.\n- Double quotes required around all keys and string values\n- Arrays preferred for lists (e.g., news items, challenges, product-fit angles)\n\nLead Information:\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nLinkedIn: {{ $json.linkedin_url }}\nJob Title: {{ $json.title }}\nHeadline: {{ $json.headline }}\nIndustry: {{ $json.industry }}\nSeniority Level: {{ $json.seniority }}\n\nCompany Information:\nCompany Name: {{ $json.organization_name }}\nWebsite: {{ $json.organization_website_url }}\nShort Description: {{ $json.organization_short_description }}\nLocation: {{ $json.city }}, {{ $json.state }}, {{ $json.country }}\n\nOutput schema (must match exactly):\n\n{\n  \"recent_news_and_context\": [\"string\", \"...\"] | \"No relevant data found\",\n  \"role_and_background\": \"string\" | \"No relevant data found\",\n  \"pain_points_and_challenges\": [\"string\", \"...\"] | \"No relevant data found\",\n  \"potential_product_market_fit_angles\": [\"string\", \"string\", \"string\"]\n}\n\nValidate your JSON before returning it. Return ONLY this JSON object.\n"
            }
          ]
        },
        "options": {
          "maxTokens": 400
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        48,
        -656
      ],
      "id": "4e7695f6-02af-4523-a31e-8562b417b13f",
      "name": "Research Lead",
      "credentials": {
        "perplexityApi": {
          "id": "fP92laLHqUqYGciA",
          "name": "Dimension Seven Systems"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        -160
      ],
      "id": "1bf9db2d-135d-44de-af58-2ec5d9dad9d0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fkd34VceBlAS0mMp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"selected_employee\": {\n    \"colleague_name\": \"Jane Doe\",\n    \"title\": \"Vice President of Business Development\",\n    \"reason\": \"Jane is a VP overseeing revenue growth and sales strategy—clearly a decision maker\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        -160
      ],
      "id": "401775ed-1668-45d4-88cc-f695bef1865a",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/caprolok~linkedin-employees-scraper/run-sync-get-dataset-items?token=apify_api_NQkGv5drWHF42bGFNrgZlfeXRfKkM32zcu4L",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"companyUrls\": [\n        \"{{ $json.organization_linkedin_url }}\"\n    ],\n    \"maxResultsPerCompany\": 3\n}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        -288
      ],
      "id": "9b13fb3e-198b-4d65-9c98-ea4f440e2680",
      "name": "Get Company Employees"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        224,
        -288
      ],
      "id": "a3169f78-f7fb-4bf4-bcb4-182413ec35dd",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a business intelligence assistant. Your task is to review a list of employees at a company and select only one person who is most likely to be in a sales management or executive decision-making role.\n\nRoles you’re looking for include:\n\nSales Managers or Directors\n\nC-suite (CEO, COO, CRO, etc.)\n\nTeam Leads or Department Heads\n\nAnyone responsible for revenue, sales teams, or business strategy\n\nUse clues from their job titles, role descriptions, seniority, and departments. Prioritize specificity (e.g. “VP of Sales” over “Manager”) and authority (e.g. “Head of Growth” over “Account Exec”).\n\nIf none of the employees appear to be a good fit, return the first employee listed.\n\nDo not consider/evaluate the contact. If the contact name \"{{ $('Get Lead Data From Main Scrape Sheet').item.json.name }}\" is in the list of employees to condsider, ignore that person. Evaluate only the contacts colleagues.\n\nJSON Input:\n\nYou will receive an array \"data\" of employee records. Each record may contain useful information:\n\n{\n  \"colleague_name\": \"{{ $json.data[0].name }}\",\n  \"company\": \"{{ $json.data[0].company }}\",\n  \"title\": \"{{ $json.data[0].designation }}\",\n  \"seniority\": \"{{ $json.data[0].experience }}\"\n  \n}\n\nYour output should be:\n\n{\n  \"selected_employee\": {\n    \"colleague_name\": \"Jane Doe\",\n    \"title\": \"Vice President of Business Development\",\n    \"reason\": \"Jane is a VP overseeing revenue growth and sales strategy—clearly a decision maker\"\n  }\n}\n\nKeep your reasoning clear and grounded in the data—no guessing based on names alone.\nPlease note: some of the fields in the employee record may contain useful clues to help you with this task even if from the field label it is not obvious. \n\t- Example: \n\t  \"company\": \"Ops Manager at Postie\"\n  ",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        464,
        -352
      ],
      "id": "43553b73-64b1-4733-b443-8e563d14dd02",
      "name": "Get Contact Colleague"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Nipc9OF9bpu1OqzXeTqpXB2GCPNW9FKE_fmQYN5HJ2U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1399870838,
          "mode": "list",
          "cachedResultName": "lf_is_not_outlook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nipc9OF9bpu1OqzXeTqpXB2GCPNW9FKE_fmQYN5HJ2U/edit#gid=1399870838"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "todo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1216,
        -624
      ],
      "id": "9394004a-d77c-4c5c-bbc2-8bb080fd1737",
      "name": "Get NotOutLook Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lN2tnTCBuaO6F6Rx",
          "name": "jmadarieta3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tk3ZqoorN3NNyM--_oui7P_3CNWpdvaaVK6LYqI8D9o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 760166100,
          "mode": "list",
          "cachedResultName": "Main Leads Control",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tk3ZqoorN3NNyM--_oui7P_3CNWpdvaaVK6LYqI8D9o/edit#gid=760166100"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Set EMail').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        -496
      ],
      "id": "5e338f3c-354c-4b7b-b6ee-fba3bc12b3fe",
      "name": "Get Lead Data From Main Scrape Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lN2tnTCBuaO6F6Rx",
          "name": "jmadarieta3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Nipc9OF9bpu1OqzXeTqpXB2GCPNW9FKE_fmQYN5HJ2U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1550508022,
          "mode": "list",
          "cachedResultName": "lf_contacts_ready",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nipc9OF9bpu1OqzXeTqpXB2GCPNW9FKE_fmQYN5HJ2U/edit#gid=1550508022"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Merge').item.json.email }}",
            "subject": "={{ $json.output.subject }}",
            "icebreaker": "={{ $json.output.icebreaker }}",
            "value_proposition": "={{ $json.output.value_proposition }}",
            "proof": "={{ $json.output.proof }}",
            "cta": "={{ $json.output.cta }}",
            "ps": "={{ $json.output.ps }}",
            "status": "ready",
            "c_id": "={{ 'c-' + (Date.now().toString() + Math.floor(Math.random() * 1e6)).slice(-9) }}\n\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "c_id",
              "displayName": "c_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "icebreaker",
              "displayName": "icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "value_proposition",
              "displayName": "value_proposition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "proof",
              "displayName": "proof",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cta",
              "displayName": "cta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ps",
              "displayName": "ps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "skip_reason",
              "displayName": "skip_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_sent_at",
              "displayName": "last_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "next_send_at",
              "displayName": "next_send_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2784,
        -448
      ],
      "id": "91893b03-46b6-402f-9951-fcda516be8b0",
      "name": "Append contact to lf_contacts_ready",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lN2tnTCBuaO6F6Rx",
          "name": "jmadarieta3"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior direct response copywriter trained in outbound consultative sales. Your job is to assemble five modular components of a cold email into a single, cohesive, high-performance message that:\n\n1. Flows naturally  \n2. Sounds like one human, not stitched parts  \n3. Communicates urgency without hype  \n4. Closes the deal with clarity and confidence\n\nYou're not here to stitch — you’re here to finish the job.\n\nCONTEXT:  \nThe audience is decision-makers at small to mid-sized B2B companies (5–200 employees). They’re consultants, agency owners, founders, sales leaders, ops managers. These are real businesspeople dealing with real pipeline problems caused by no-show leads.\n\nYou are writing about DropStop — a $199 tool that increases show-up rates for booked sales calls. No fluff, no subscriptions, no onboarding. Just fewer ghosted leads, more closed deals.\n\nYOUR TASK:  \nYou will receive the following 5 sections, written by another model:\n\n- Icebreaker  \n- Value Proposition  \n- Proof  \n- CTA  \n- PS\n\nThey are roughly 70–80% complete. Your job is to refine, rewrite, and assemble them into a clean, confident email that flows like it was written in one sitting by one pro.\n\nCONSULTATIVE TONE RULES:\n\n- Write like a trusted advisor, not a “sales personality”  \n- Speak with confidence, clarity, and urgency — not charm  \n- No fluff, no filler, no buzzwords, no “vibes”  \n- Do not flatter. Do not joke. Do not soften.  \n- Assume the reader is busy, smart, and already aware of the no-show problem  \n- You are helping them solve a leak that’s costing them thousands — treat it that way  \n- Use short, strong sentences when it counts. Use long ones only when they build real value.  \n- Push for a clear, professional decision: buy or reply\n\nRULES:\n\n1. Max 110 words.  \n2. Rephrase or restructure as needed for flow, tone, and clarity.  \n3. Always use [colleague_name] if it exists. e.g. “Should I talk to Sarah?”  \n4. If no name, use specific fallbacks like:  \n   - “the person handling no-shows”  \n   - “who owns the calendar”  \n   - “who’s fixing the ghosted call problem”  \n5. Do not repeat key phrases like “ghosted calls,” “plug the leak,” or “lost revenue” more than once.  \n6. Avoid startup-speak and marketing clichés:  \n   - ❌ “scale,” “innovate,” “next-gen,” “data-driven,” “end-to-end”  \n7. The CTA must include an action verb and link to dropstop.com/buy  \n8. The PS must reinforce urgency, ROI, or loss — with a clear opt-out\n\nINPUT FORMAT (you’ll receive this):\n\n{\n  \"subject\": {{ $json.output.subject }}\n  \"icebreaker\": \"{{ $json.output.icebreaker }}\",\n  \"value_proposition\": \"{{ $json.output.value_proposition }}\",\n  \"proof\": \"{{ $json.output.proof }}\",\n  \"cta\": \"{{ $json.output.cta }}\",\n  \"ps\": \"{{ $json.output.ps }}\",\n  \"colleague_name\": {{ $('Get Contact Colleague').item.json.output.selected_employee.colleague_name.split(' ')[0] }}\n}\n\nOUTPUT FORMAT:  \nReturn the full cold email body in plain text.\n\nStructure:  \n- Greeting (with [Name] placeholder)  \n- Body (2–3 short paragraphs)  \n- CTA (clear and separate)  \n- PS (direct opt-out with urgency)\n\nNo bullet points. No headings. No explanations. Just the final email body.\n\nSTYLE CHECKLIST:  \n- ✅ Consultative tone  \n- ✅ Short + long sentence rhythm  \n- ✅ Zero repetition  \n- ✅ No slang or filler  \n- ✅ One clear, confident CTA  \n- ✅ Under 110 words  \n\nEXAMPLES (Match this tone and structure):\n\nExample 1:\n\nHey [Name],\n\nSaw [Company] is booking solid volume. If even a third of those calls ghost, that’s pipeline slipping through the cracks. Are you owning that, or should I connect with [colleague_name]?\n\nDropStop solves that. $199. No fluff. No pitch. Just more booked calls that actually show.\n\nOne client recovered 15 missed consults a month — thousands in revenue saved, no extra leads needed.\n\nOne saved call pays for it. Buy here: dropstop.com/buy\n\nPS: If this isn’t your problem, reply and I’ll disappear.\n\nExample 2:\n\nHey [Name],\n\nLooks like [Company] has strong lead flow. But if those booked calls don’t show, you're burning time and losing deals. Should I talk to [colleague_name], or is this on your radar?\n\nDropStop helps fix the no-show problem for good. $199. One-time. No setup required.\n\nOne agency added $8,500 in revenue in two weeks by reducing no-shows — without changing their funnel.\n\nBuy DropStop here: dropstop.com/buy\n\nPS: One call saved covers the cost. If now’s not the time, just reply and I’ll back off.\n\nExample 3:\n\nHey [Name],\n\nNoticed you’re running consults through Calendly — if even a few of those leads ghost, that’s revenue left on the table. Are you dealing with that, or should I talk to [colleague_name]?\n\nDropStop gets more people to show up. One-time $199. No integrations, no learning curve.\n\nOne SaaS team recovered 11 calls and $6,200 in closed deals within 10 days.\n\nStop the leak now: dropstop.com/buy\n\nPS: If no-shows aren’t draining your pipeline, ignore this. Otherwise, reply and I’ll shut up.\n\nExample 4:\n\nHey [Name],\n\nSaw [Company] is heavy on booked calls. If leads ghost after scheduling, that’s a leak worth plugging fast. Is that your job to fix, or should I talk to [colleague_name]?\n\nDropStop solves the no-show problem. $199. One-time. Zero disruption to your current flow.\n\nOne ops lead recovered $12K in consults last month — no new leads, just better show-up rates.\n\nBuy DropStop here: dropstop.com/buy\n\nPS: If this isn't your fire, just reply and I’ll move on.\n\nExample 5:\n\nHey [Name],\n\nIf even 3–4 of your booked leads ghost each week, that’s thousands lost monthly. Are you dealing with it, or should I talk to [colleague_name]?\n\nDropStop fixes it. $199, no subscription, no friction. Just better show-up rates — fast.\n\nOne client recovered 14 consults in two weeks with zero changes to their funnel.\n\nBuy now: dropstop.com/buy\n\nPS: If you’d rather keep leaking revenue, do nothing. Otherwise, reply and I’ll stop here.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1392,
        -368
      ],
      "id": "0f0603e8-3ff3-419b-9b81-83d1eda9442f",
      "name": "Assembler",
      "credentials": {
        "openAiApi": {
          "id": "fkd34VceBlAS0mMp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=🔧 Prompt Start — “DropStop Email Scoring Rubric”\n\nYou are a ruthless QA copy editor for high-performing cold email campaigns targeting small B2B companies (5–200 employees). Your job is to score, critique, and improve each email based on the following strict rubric.\n\nEvery email must sound consultative, direct, and urgent. No fluff. No filler. No AI-tone. These emails must be short, sharp, and focused on solving a known business problem (booked calls that no-show).\n\nThe structure is:\n\nIcebreaker\nValue Proposition\nProof\nCTA\nPS\n\nHere is the email:\n\nUse this rubric to grade the email. Return a JSON response with:\n\nscore (out of 100)\n\nissues (list of problems or violations found)\n\nrecommendations (specific rewrite or phrasing suggestions)\n\nverdict (one sentence judgment on whether this is ready to send or needs revision)\n\n🧠 SCORING RUBRIC\n\nSection\tCriteria\tMax Points\nTone\tHuman, direct, consultative, urgent (not flippant, not hyped, not robotic)\t20\nIcebreaker\tSpecific to target, references booked calls or no-shows, not fluff or praise\t15\nValue Prop\tClear, aggressive, no buzzwords, no passive voice\t15\nProof\tQuantifiable, believable stat or outcome (not vague or “client saved money”)\t15\nCTA\tIncludes link, urgent phrasing, ROI-based (not “learn more”)\t15\nPS\tStrong opt-out, reinforces urgency/value, matches tone\t10\nPenalties\t- Repetition (“pipeline leak,” “ghosted calls”) = -5 pts per repeat\t\n\t- Fluff phrases (“slots filled,” “engagement,” “maximize value”) = -5 pts per offense\t\n\t- Overused metaphors (“plug the leak,” “move the needle”) = -5 pts per use\t\n\t- Word count over 110 = -10 pts\t\n\nOnly use this JSON format in your response:\n\n{\n  \"score\": 87,\n  \"issues\": [\n    \"Value proposition repeats 'ghosted calls' from icebreaker.\",\n    \"Proof uses vague language: 'saved thousands' without quantifiable outcome.\"\n  ],\n  \"recommendations\": [\n    \"Replace repeated phrase in value prop with fresher language like 'no-shows cut off before they cost you.'\",\n    \"Use a specific example: 'One team recovered $6,000/month in revenue from missed calls.'\"\n  ],\n  \"verdict\": \"Strong structure, but tone needs tightening and proof needs clearer ROI. Needs revision before sending.\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1792,
        -272
      ],
      "id": "33a7e701-af79-4144-995d-569e7ead0df2",
      "name": "Scorer",
      "credentials": {
        "openAiApi": {
          "id": "fkd34VceBlAS0mMp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=FULL REWRITE PROMPT — “DropStop Email Auto-Rewriter”\n\nYou are a high-performance B2B cold email copywriter with deep expertise in consultative selling. You write for companies targeting other small businesses (5–200 employees) with real solutions to real business problems.\n\nYour task is to rewrite cold emails based on scoring feedback, using the DropStop Cold Email Rubric as your guide. The tone must be:\n\nDirect\nConsultative\nUrgent\nProfessional (no flippant or vibey copy)\nYou must follow this structure:\n\nIcebreaker: Must be specific, relevant to booked calls/no-shows. No flattery or homepage copy.\n\nValue Proposition: State what DropStop does in 1–2 sentences. Cut the fluff. Speak ROI.\n\nProof: One sentence. Must include a quantified result.\n\nCTA: Must contain the link: dropstop.com/buy and reference cost or ROI. No soft CTAs.\n\nPS Line: Must match tone. Should reinforce urgency, value, or opt-out cleanly.\n\nWrite in plain language. Short sentences. No buzzwords. Every line should earn its keep.\nAssume this is a time-poor decision-maker with a real calendar leak — not someone looking for “synergies.”\n\nYou’ll be given:\n\noriginal_email: the full raw cold email copy\nissues: a list of flaws flagged by QA\nrecommendations: suggested improvements for each issue\n\nOriginal: {{ $('Assembler').item.json.message.content }}\n\nScore/Issues/Recommendations:\n{{ $json.message.content }}\n\n\nYour job: Rewrite the full email using that feedback. Follow the exact format shown below. No comments. Just the email.\n\n✅ Output Format:\n{\n  \"rewritten_email\": \"Hey [Name],\\n\\nSaw [Company] is booking solid consult volume — but if no-shows are creeping in, that’s lost pipeline before the conversation starts. Are you the one fixing it, or should I talk to [Colleague]?\\n\\nDropStop stops no-shows. $199 one-time. No training, no setup. Just more leads showing up — and more deals closing.\\n\\nOne client recovered 15 missed calls/month — added over $6K to their pipeline without any new ad spend.\\n\\nOne saved call covers the cost. Buy now: dropstop.com/buy\\n\\nPS: No subscription. No fluff. Just fewer ghosted calls. If this isn’t your fire to put out, reply and I’ll back off.\"\n}\n\n🛠 Example Run (Input):\n{\n  \"original_email\": \"Hey [Name],\\n\\nNoticed Civis Analytics pours a lot into engagement. If booked calls are still slipping, that's the biggest gap to close. Are you handling it, or should I talk to Catherine?\\n\\nDropStop blocks those no-shows, one-time for $199. No training, no setup — just more calls that actually happen.\\n\\nOne client kept 15 slots filled each month that were lost before. That’s thousands saved, instantly.\\n\\nBuy DropStop here: dropstop.com/buy\\n\\nPS: If this isn’t your problem, reply and I’ll move on. Otherwise, one missed call will cost more than this fix.\",\n  \"issues\": [\n    \"Vague phrase: 'pours a lot into engagement'\",\n    \"Passive value line: 'calls that actually happen'\",\n    \"'Slots filled' in proof sounds generic\",\n    \"CTA lacks urgency and ROI framing\"\n  ],\n  \"recommendations\": [\n    \"Replace vague intro with something referencing booked calls or consults\",\n    \"Use stronger action language in value prop\",\n    \"Rewrite proof using 'missed calls' and show quantifiable ROI\",\n    \"CTA should include ROI frame like 'one saved call pays for it'\"\n  ]\n}\n\n🧨 Model Output:\n{\n  \"rewritten_email\": \"Hey [Name],\\n\\nSaw Civis is booking a healthy stream of calls — but if no-shows are cutting into that, you're losing pipeline before your reps even get a shot. Is that on your plate, or should I talk to Catherine?\\n\\nDropStop ends ghosted calls. $199 one-time. No setup. No training. Just more leads showing up — and more deals closing.\\n\\nOne client recovered 15 missed calls/month — added $6,000 in closed revenue with no change to their funnel.\\n\\nOne saved call covers the cost. Buy now: dropstop.com/buy\\n\\nPS: If no-shows aren’t your problem, reply and I’ll back off. Otherwise, you’re already losing more than $199 every week.\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2112,
        -192
      ],
      "id": "e71b38ae-a00d-4b40-bfb1-00bc324cd625",
      "name": "Rewriter",
      "credentials": {
        "openAiApi": {
          "id": "fkd34VceBlAS0mMp",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get NotOutLook Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Write Opener EMail",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Write Opener EMail",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Write Opener EMail": {
      "main": [
        [
          {
            "node": "Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set EMail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set EMail": {
      "main": [
        [
          {
            "node": "Get Lead Data From Main Scrape Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Write Opener EMail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append contact to lf_contacts_ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set NotOutlook Contact Status To Prepared": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Lead": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Get Contact Colleague",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Get Contact Colleague",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get Company Employees": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get Contact Colleague",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Colleague": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get NotOutLook Lead": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead Data From Main Scrape Sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Research Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Company Employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append contact to lf_contacts_ready": {
      "main": [
        [
          {
            "node": "Set NotOutlook Contact Status To Prepared",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assembler": {
      "main": [
        [
          {
            "node": "Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scorer": {
      "main": [
        [
          {
            "node": "Rewriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewriter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Get Company Employees": [
      {
        "json": {
          "thumbnail": "https://static.licdn.com/aero-v1/sc/h/1c5u578iilxfi4m4dvc4q810q",
          "link": "https://www.linkedin.com/in/matt-brennan-387b624",
          "name": "Matt Brennan",
          "first_name": "Matt",
          "last_name": "Brennan",
          "company": "Civis Analytics",
          "designation": "",
          "experience": "Civis Analytics",
          "education": "Johns Hopkins School of Medicine",
          "location": "Washington",
          "followers": "500",
          "verified": "✅"
        }
      },
      {
        "json": {
          "thumbnail": "https://media.licdn.com/dms/image/v2/C4D03AQGZzz3D2esj0w/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1647225478611?e=2147483647&v=beta&t=dmfBnxw_QERRA_0VL3SN2mj2AgIob2Ql3k1plGVHtBY",
          "link": "https://www.linkedin.com/in/caseyconlin",
          "name": "Casey Conlin",
          "first_name": "Casey",
          "last_name": "Conlin",
          "company": "Civis Analytics",
          "designation": "",
          "experience": "Civis Analytics",
          "education": "",
          "location": "Ulster County",
          "followers": "457",
          "verified": "✅"
        }
      },
      {
        "json": {
          "thumbnail": "https://media.licdn.com/dms/image/v2/D5603AQHUtFWTHJGU3Q/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1681902101261?e=2147483647&v=beta&t=xymMiZybuCy4YS9Hx-TYiju9nlM_9-lqSek0MPjWxos",
          "link": "https://www.linkedin.com/in/laura-belmont",
          "name": "Laura Belmont",
          "first_name": "Laura",
          "last_name": "Belmont",
          "company": "General Counsel @ Civis Analytics I Data, Analytics, AI",
          "designation": "",
          "experience": "Civis Analytics",
          "education": "American University Washington College of Law",
          "location": "Greater Philadelphia",
          "followers": "500",
          "verified": "-"
        }
      }
    ],
    "Research Lead": [
      {
        "json": {
          "id": "8a2fad03-0509-4b70-97c9-ff39632812d0",
          "model": "sonar",
          "created": 1756416716,
          "usage": {
            "prompt_tokens": 444,
            "completion_tokens": 358,
            "total_tokens": 802,
            "search_context_size": "low",
            "cost": {
              "input_tokens_cost": 0,
              "output_tokens_cost": 0,
              "request_cost": 0.005,
              "total_cost": 0.006
            }
          },
          "citations": [
            "https://www.zoominfo.com/c/civis-analytics/357303385",
            "https://www.civisanalytics.com",
            "https://www.zippia.com/civis-analytics-careers-1422127/revenue/",
            "https://growjo.com/company/Civis_Analytics"
          ],
          "search_results": [
            {
              "title": "Civis Analytics - Overview, News & Similar companies",
              "url": "https://www.zoominfo.com/c/civis-analytics/357303385",
              "date": "2022-03-03",
              "last_updated": "2025-03-10"
            },
            {
              "title": "Civis Analytics | The all-in-one analytics and AI platform",
              "url": "https://www.civisanalytics.com",
              "date": "2000-01-01",
              "last_updated": "2025-08-27"
            },
            {
              "title": "Civis Analytics Revenue: Annual, Quarterly, and Historic",
              "url": "https://www.zippia.com/civis-analytics-careers-1422127/revenue/",
              "date": null,
              "last_updated": "2025-02-03"
            },
            {
              "title": "Civis Analytics: Revenue, Competitors, Alternatives",
              "url": "https://growjo.com/company/Civis_Analytics",
              "date": "2025-05-12",
              "last_updated": "2025-05-17"
            }
          ],
          "object": "chat.completion",
          "choices": [
            {
              "index": 0,
              "finish_reason": "stop",
              "message": {
                "role": "assistant",
                "content": "{\n  \"recent_news_and_context\": [\n    \"Civis Analytics reported peak revenue of $37.5M in 2024 with about 236 employees.\",\n    \"The company offers an all-in-one analytics and AI platform with reported impacts such as $400k savings per year, 390% revenue increase, and 130% response growth.\",\n    \"Civis Analytics recently achieved FedRAMP Moderate Authorization, highlighting strong industry-leading security standards.\",\n    \"They provide solutions to various sectors including nonprofits, federal, state & local governments, and brands.\"\n  ],\n  \"role_and_background\": \"Amos Budde is Vice President, Professional Services, Head of Sales at Civis Analytics, responsible for leading solutions and growth at the company which specializes in data science advisory and technology for organizations aiming to improve data-driven decision making.\",\n  \"pain_points_and_challenges\": [\n    \"Ensuring clients efficiently leverage complex data sets to identify and engage audiences effectively.\",\n    \"Delivering measurable impact and ROI through data and AI solutions in competitive markets.\",\n    \"Supporting a multidisciplinary team to scale data science outcomes at the speed of business.\",\n    \"Maintaining and communicating high security standards to clients given the sensitive nature of data handled.\"\n  ],\n  \"potential_product_market_fit_angles\": [\n    \"DropStop can help Civis Analytics reduce the risk of spills or distractions in busy office environments where professionals handle valuable hardware and data devices.\",\n    \"DropStop's spill prevention aligns with Civis Analytics’ emphasis on security and reliability by protecting expensive computing equipment used by data scientists and engineers.\",\n    \"Providing a simple physical solution like DropStop could complement Civis Analytics’ high-tech offering by enhancing workplace safety and productivity for onsite teams and client meetings.\"\n  ]\n}"
              },
              "delta": {
                "role": "assistant",
                "content": ""
              }
            }
          ]
        }
      }
    ],
    "Get Contact Colleague": [
      {
        "json": {
          "output": {
            "selected_employee": {
              "colleague_name": "Catherine Hsu",
              "title": "VP of Sales",
              "reason": "Catherine is a Vice President of Sales, indicating senior leadership responsibility for sales and revenue."
            }
          }
        }
      }
    ],
    "Write Opener EMail": [
      {
        "json": {
          "output": {
            "subject": "Ghosted calls are losing your revenue",
            "icebreaker": "Noticed Civis Analytics invests heavily in data-driven engagement—if booked calls still ghost, that’s the weak link you need to cut. Are you the right person to fix this, or should I talk to Catherine?",
            "value_proposition": "DropStop silently stops booked calls from ghosting—and costs just $199. It plugs the pipeline leak before it drains your revenue.",
            "proof": "One client recovered 15 unfilled slots per month—translating directly into thousands of dollars in lost income saved.",
            "cta": "Buy DropStop now for $199: [dropstop.com/buy](http://dropstop.com/buy)",
            "ps": "PS: DropStop doesn’t need a demo, just results—if this isn’t your problem, reply and I’ll back off."
          }
        }
      }
    ],
    "Assembler": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "Hey [Name],\n\nNoticed Civis Analytics pours a lot into engagement. If booked calls are still slipping, that's the biggest gap to close. Are you handling it, or should I talk to Catherine?\n\nDropStop blocks those no-shows, one-time for $199. No training, no setup — just more calls that actually happen.\n\nOne client kept 15 slots filled each month that were lost before. That’s thousands saved, instantly.\n\nBuy DropStop here: dropstop.com/buy\n\nPS: If this isn’t your problem, reply and I’ll move on. Otherwise, one missed call will cost more than this fix.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "Scorer": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "{\n  \"score\": 65,\n  \"issues\": [\n    \"Lack of urgency in tone, comes across as too casual.\",\n    \"Icebreaker is generic and does not reference the target's specific pain point.\",\n    \"Value proposition is vague and uses buzzwords like 'maximize value.'\",\n    \"Proof is weak, just states 'client saved money' without quantifiable outcome.\",\n    \"CTA is weak and does not include a clear link or urgency.\"\n  ],\n  \"recommendations\": [\n    \"Adjust tone to be more direct and urgent, avoid using casual language.\",\n    \"Personalize icebreaker to mention booked calls that no-show to grab attention.\",\n    \"Revise value proposition to be clear and aggressive, avoid buzzwords.\",\n    \"Provide a specific, quantifiable proof of success to strengthen credibility.\",\n    \"Enhance CTA with a clear link and more urgency, focus on ROI.\"\n  ],\n  \"verdict\": \"Major issues with tone, lack of specificity, and weak CTA. Requires significant revision before sending.\"\n}",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "Rewriter": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "{\n  \"rewritten_email\": \"Hey [Name],\\n\\nSaw [Company] is booking solid consult volume — but if no-shows are creeping in, that’s lost pipeline before the conversation starts. Are you the one fixing it, or should I talk to [Colleague]?\\n\\nDropStop stops no-shows. $199 one-time. No training, no setup. Just more leads showing up — and more deals closing.\\n\\nOne client recovered 15 missed calls/month — added over $6K to their pipeline without any new ad spend.\\n\\nOne saved call covers the cost. Buy now: dropstop.com/buy\\n\\nPS: No subscription. No fluff. Just fewer ghosted calls. If this isn’t your fire to put out, reply and I’ll back off.\"\n}",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ]
  },
  "versionId": "4ae93154-f943-4b53-a959-c6769ee1997a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-24T15:31:56.339Z",
      "updatedAt": "2025-08-24T15:31:56.339Z",
      "role": "workflow:owner",
      "workflowId": "nsyQgHyFR7RMLX1Y",
      "projectId": "DkSa9uSCCmIe86kA",
      "project": {
        "createdAt": "2024-10-23T19:43:31.607Z",
        "updatedAt": "2024-10-23T19:44:45.428Z",
        "id": "DkSa9uSCCmIe86kA",
        "name": "Jose Madarieta <jmadarieta3@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-10-23T19:43:31.607Z",
            "updatedAt": "2024-10-23T19:43:31.607Z",
            "userId": "a635a4d8-fd37-4680-89ca-863732d6171c",
            "projectId": "DkSa9uSCCmIe86kA",
            "user": {
              "createdAt": "2024-10-23T19:43:29.785Z",
              "updatedAt": "2025-11-12T16:42:51.583Z",
              "id": "a635a4d8-fd37-4680-89ca-863732d6171c",
              "email": "jmadarieta3@gmail.com",
              "firstName": "Jose",
              "lastName": "Madarieta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2024-10-23T19:45:00.140Z",
                "personalization_survey_n8n_version": "1.63.4"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "wKa0XTH9lBKlDoXE",
                "userActivatedAt": 1729714072281,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1762955552971
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "createdAt": "2024-12-03T18:52:19.410Z",
      "updatedAt": "2024-12-03T18:52:19.410Z",
      "id": "p5nPhLU2bsf1ZFMo",
      "name": "EMail"
    },
    {
      "createdAt": "2025-08-11T15:48:10.628Z",
      "updatedAt": "2025-08-11T15:48:10.628Z",
      "id": "C5a3q6Lp4mupVUtn",
      "name": "PERPLEXITY"
    },
    {
      "createdAt": "2025-08-11T21:37:06.934Z",
      "updatedAt": "2025-08-11T21:37:06.934Z",
      "id": "dPlfEljbKGNfHYxF",
      "name": "MY"
    }
  ]
}